<form method="post" action="{{ path('app_landing_page_lead_delete', {'id': landing_page_lead.id}) }}" onsubmit="return confirm('você tem certeza que deseja remover este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ landing_page_lead.id) }}">
    <button class="btn">Delete</button>
</form>
